.introduction{
    background-color: black;
}
#name{
    color: white;
    font-family: 'Bebas Neue', cursive;}
#tag-line{
    color:orange;
    font-style: italic;
    font-family: 'Caveat', cursive;
}
.container{
    background-color: beige;
}
.card{
    background-color: bisque;
    text-align: center;
}
